# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\x\more-shop\more-shop-1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
